@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image:radial-gradient(rgb(182, 201, 196), rgb(187, 183, 183));
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: rgba(5, 107, 60, 0.842);
  position :fixed;
  top: 0;
  z-index: 666;
  margin: 0;
  text-shadow: rgb(245, 241, 241) 0 1px 1px;
  padding: 0 15px;
  margin: 0 auto;
}

p::first-letter {
  color: inherit;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.header-logo {
  float: left;
  text-decoration: none;
}

.header-logo h1 {
  color:rgb(233, 232, 232);
  padding: 17px 0px;
}
  
.header-right {
  float: right;
  margin-right: -25px;
  display: inline;
  padding: 5px;
}
  
.header-right li {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  list-style-type: none;
  float: left;
  transition: all 0.5s;
}

.header-right a {
  font: 20px helvetica;
  color: white;
}
  
.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
  color: #07f787;
}

/*Section-1*/
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),#29568f),url(./images/background-2.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
}

button {
    width: 120px;
    color: #fbfcfd;
    margin: 0 10px;
    padding: 12px 0px;
    text-decoration: none;
    background: transparent;
    border: 0.5px solid #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

button span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width:100%;
}

button:hover {
    color:#000;
}
.section-1 {
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

.section-1 h1 {
    color: #feabb0;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 80px;
    opacity: 0.7;
}